<div class="toolbar">
	<button class="toolbar-button" onclick="showSection('noticeboard')">Noticeboard</button>
	<button class="toolbar-button" onclick="showSection('challenges')">Challenges</button>
	<button class="toolbar-button" onclick="showSection('scoreboard')">Scoreboard</button>
</div>
<!------------------------------------------------->
<div id="noticeboard" class="section">
	{{range .Notices}}
        <div class="notice">{{.Notice_title}}{{.Notice_content}}</div>
        {{else}}
        <h2>No notices found.</h2>
    {{end}}
</div>
<!------------------------------------------------->
<div id="challenges" class="section" style="display: none;">
	<h1>This Week's Featured Challenges</h1>
	<p>Updates on Thursday Evenings</p>
	<div class="card-grid">
		{{range .Challenges}}
		<div class="card"
			hx-get="/challenge/{{.Challenge_id}}"
			hx-target="#challenge-details"
     		hx-swap="innerHTML"
			hx-on::after-on-load="openModal()">
			<h3>{{.Challenge_title}}</h3>
			<p>{{.Challenge_points}} points</p>
		</div>
		{{end}}
	</div>
	<br><h1>Other Challenges</h1><br>
	<div class="card-grid">
		{{range .Challenges}}
		<div class="card"
			hx-get="/challenge/{{.Challenge_id}}"
			hx-target="#challenge-details"
     		hx-swap="innerHTML"
			hx-on::after-on-load="openModal()">
			<h3>{{.Challenge_title}}</h3>
			<p>{{.Challenge_points}} points</p>
		</div>
		{{end}}
	</div>
	<div id="challenge-modal" class="modal" style="display:none;">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<div id="challenge-details"></div>
		</div>
	</div>
</div>
<!------------------------------------------------->
<div id="scoreboard" class="section" style="display: none;">
	<h1>Coming Soon</h1>
</div>
<!------------------------------------------------->
<script>
function showSection(idToShow) {
	const sections = ['noticeboard', 'challenges', 'scoreboard'];
	sections.forEach(id => {
	const section = document.getElementById(id);
	if (section) {
		section.style.display = id === idToShow ? 'block' : 'none';
	}
  });
}
function openModal() {
	document.getElementById("challenge-modal").style.display = "block";
}
function closeModal() {
	document.getElementById("challenge-modal").style.display = "none";
}
// Close modal on background click
window.onclick = function(event) {
	const modal = document.getElementById("challenge-modal");
	if (event.target === modal) {
		closeModal();
	}
}
</script>