<div class="toolbar">
	<button class="button-toolbar" onclick="showSection('noticeboard')">
		Noticeboard
	</button>
	<button 
		class="button-toolbar"
		onclick="showSection('challenges')"
		hx-get="/challenges"
		hx-target="#challenges"
		hx-swap="innerHTML">
		Challenges
	</button>
	<button
		class="button-toolbar"
		onclick="showSection('scoreboard')"
		hx-get="/scoreboard"
		hx-target="#scoreboard"
		hx-swap="innerHTML">
		Scoreboard
	</button>
</div>
<div id="noticeboard" class="section">
	{{range .}}
	<div class="notice">{{.NoticeTitle}}{{.NoticeContent}}</div>
	{{else}}
	<h2>No notices found.</h2>
	{{end}}
</div>
<div id="challenges" class="section" style="display: none"></div>
<div id="scoreboard" class="section" style="display: none"></div>