* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", Helvetica, Arial, sans-serif;
}

html {
	background-color: #922;
	color: #000;
	text-align: center;
}

p {
	margin: 1em 0;
}

.input-login {
	width: 400px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
}

.button-login {
	width: 400px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
}

.container-input-flag-and-button-flag {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center; /* vertical centering */
	margin-top: 20px;
}

.input-flag{
	flex: 1;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
}

.button-flag {
	width: 150px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
}

.toolbar {
	display: flex;
	justify-content: center;
	background-color: #222;
	padding: 10px;
	gap: 10px;
}

.button-toolbar {
	background-color: #97d;
	color: #222;
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	width: 320px;
}

.button-toolbar:hover {
	background-color: #b9f;
	color: #000;
}

.section {
	max-width: 1000px;
	margin: auto;
	padding: 10px;

}

.notice {
	background-color: #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.notice h1 {
	margin-bottom: 10px;
	color: #922;
}

.schedule {
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	background-color: #db9;
}

.schedule th,
.schedule td {
	border: 1px solid #222;
	padding: 8px;
}

.schedule th:nth-child(1),
.schedule td:nth-child(1){
	width: 50px;
}

.schedule th:nth-child(2),
.schedule td:nth-child(2) {
	width: 100px;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 10px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.card {
	background-color: #ddd;
	color: #222;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 9999; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.modal-content {
	position: relative;
	background-color: #97d;
	margin: 5% auto;
	padding: 20px;
	border-radius: 8px;
	width: 90%;
	max-width: 800px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.modal-content h3 {
	margin-top: 20px;
}

.close {
	position: absolute;
	top: 0px;   /* smaller = closer to top */
	right: 18px;
	color: #ddd;
	float: right;
	font-size: 60px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover {
	color: #222;
}

.challenge-description{
	text-align: left;
}



.challenge-summary{
	width: 100%;
	height: 100px;
}

.challenge-summary-left{
	width: 75%;
	padding-top: 12px;
}

.challenge-summary-right{
	width: 25%;
}

.challenge-summary h1{
	font-size: 50px;
	margin-top: 10px;
}

.challenge-summary p{
	margin: 0.5em 0;
	padding: 0;
}

.table-score {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  border-radius: 8px;
  overflow: hidden;
}

.table-score thead {
  background-color: #97d;
  color: white;
  text-align: center;
  font-weight: bold;
}

.table-score th, 
.table-score td {
  padding: 12px 16px;
  border-bottom: 1px solid #e1e1e1;
}

.table-score tbody tr:nth-child(even) {
  background-color: #97d;
}

.table-score tbody tr:nth-child(odd) {
  background-color: #b9f;
}

.table-score tbody tr:last-child td {
  border-bottom: none;
}